forEach: BoundedContext
path: {{nameCamelCase}}
fileName: .gitignore
---
**/.metadata/
**/.recommenders/
**/target
**/.settings
**/build
**/.classpath
**/.iml
.idea
**/.project

**/bin
*.iml
target/
*-boot/src/main/resources/application*.yml
